@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap");

:root {
  --primary-color: #111827;
  --secondary-color: #10b981;
}

body {
  margin: 0px;
  font-family: "Orbitron", sans-serif;
  background-image: url(/images/Converter\ background.jpg);
  background-size: cover;
  background-position: center;
}

h1 {
  text-align: center;
  color: #6b7280;
}

#input {
  display: block;
  margin: 2rem auto;
  resize: none;
  min-width: 100%;
  font-family: "Orbitron", sans-serif;
  padding: 0.5rem;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: var(--primary-color);
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  font-weight: bold;
}

#btn {
  display: block;
  margin: 2rem auto;
  font-family: "Orbitron", sans-serif;
  border: 2px solid var(--secondary-color);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: bold;
}

#output {
  display: block;
  margin: 2rem auto;
  border: 2px solid var(--secondary-color);
  max-width: 100%;
  min-height: 12vh;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-weight: bold;
}

.container {
  max-width: 500px;
  margin: 2rem auto;
}

/* .header-image {
  display: block;
  max-height: 30vh;
} */
